<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523321840232-7mg4vclu5jafv3bkrldchrqqtqr9s60l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523321840232-7mg4vclu5jafv3bkrldchrqqtqr9s60l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>523321840232-qm3k5814f1uvsakcochmbjitiu1ok57u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAC5qsHzU46gbskUu4Kqfu_TOxLLn0mndA</string>
	<key>GCM_SENDER_ID</key>
	<string>523321840232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-71de8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-71de8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523321840232:ios:03b7a79952783e88a7a1dd</string>
</dict>
</plist>